header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
    height: 8rem;
  }
  
  header nav .svgLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    border-right: 0.1rem solid black;
  }
  
  header nav .svgLeft img {
    width: 1.2rem;
    height: 1.2rem;
  }
  
  header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
  }
  
  header nav ul img {
    height: 12rem;
    width: 12rem;
  }
  
  header nav ul li a {
    color: black;
  }
  
  header nav .svgRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
    background-color: black;
    border-left: 0.1rem solid black;
  }
  
  header nav .svgRight img {
    width: 1.2rem;
    height: 1.2rem;
  }
  
  /* dropdown menu */

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .dropdown-menu.show {
    display: block;
    top: 8rem;
    z-index: 999;
    left: auto;
    right: 0;
  }
  
  .dropdown-menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #dropdownList {
    width: 100%;
  }
  
  .dropdown-menu ul li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-menu ul li:hover {
    background-color: #f0f0f0;
  }
  