@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Orbitron";
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid black;
    background: #6b0000;
    color: white;
}

#display {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
}

header {
    display: flex;
    background: #6b0000;
    color: white;
}

a {
    text-decoration: none   ;
}

a:visited {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    height: 10vh;
    align-items: center;
    gap: 2em;
    padding-left: 2rem;
}

.ingredient {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}

.steps {
    width: 50rem;
}

#pagination-controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.paginationBtn {
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    color: black;
    background: white;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    border: none;
    cursor: pointer;
}

.paginationBtn:hover {
    background: linear-gradient(18deg, rgb(50, 125, 31) 25%, rgb(198, 17, 17)100%);
    color: white;
    transition: 0.5s;
}

.addBtn {
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    color: black;
    background: white;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    border: none;
    cursor: pointer;
    border: 1px solid black;
}

.addBtn:hover {
    background: linear-gradient(18deg, rgb(50, 125, 31) 25%, rgb(198, 17, 17)100%);
    color: white;
    transition: 0.5s;
}

.recipe-banner {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.recipe-image {
    width: 66%;
    height: 20rem;
    object-fit: cover;
    border: 1px solid black;
}

.recipe-info {
    width: 33%;
}