@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Orbitron";
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 2rem;
}

#display {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
}


.ingredient {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}

.steps {
    width: 50rem;
}

#pagination-controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.paginationBtn {
    position: relative;
    color: black;
    z-index: 0;
    padding: 0.5rem;
    background: white;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 2rem;
}

.paginationBtn::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 50% 50% 0% 0%;
    z-index: -1;
    transition: all .5s;
}

.paginationBtn:hover::before {
    top: 0px;
    border-radius: 0;
}

.paginationBtn:hover {
    color: white;
    transition: 0.5s;
}

.addBtn {
    position: relative;
    color: black;
    z-index: 0;
    padding: 0.5rem;
    background: white;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.addBtn::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 50% 50% 0% 0%;
    z-index: -1;
    transition: all .5s;
}

.addBtn:hover::before {
    top: 0px;
    border-radius: 0;
}

.addBtn:hover {
    color: white;
}


.recipe-banner {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.recipe-image {
    width: 66%;
    height: 20rem;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 2rem;
}

.recipe-info {
    width: 33%;
}

.addFav {
    position: relative;
    color: black;
    z-index: 0;
    padding: 0.5rem;
    background: white;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 2rem;
}

.addFav:hover {
    cursor: pointer;
}

.colored {
    background-color: rgb(168, 8, 8);
    color: white;
}